    * {
        box-sizing: border-box;
        font-family: 'Kanit', sans-serif;
    }
    
    html,
    body {
        margin: 0;
        padding: 0;
        font-family: 'Kanit', sans-serif;
    }
    
    h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
    }
    /* Style the header */
    
    header {
        background-color: #336666;
        padding: 5px;
        text-align: left;
        font-size: 5px;
        font-family: 'Roboto', sans-serif;
        color: white;
        position: fixed;
        width: 250vh;
        z-index: 2;
    }
    /* Create two columns/boxes that floats next to each other */
    
    nav {
        float: left;
        width: 20%;
        height: 100vh;
        position: fixed;
        /* only for demonstration, should be removed */
        background: #336666;
        padding: 20px;
        margin-top: 50px;
        z-index: 2;
    }
    /* Style the list inside the menu */
    
    article {
        float: left;
        padding: 20px;
        width: 80%;
        height: 100vh;
        /* only for demonstration, should be removed */
        margin-left: 20%;
        margin-top: 50px;
    }
    /* Clear floats after the columns */
    
    section::after {
        content: "";
        display: table;
        clear: both;
    }
    /* Style the footer */
    /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
    
    @media (max-width: 900px) {
        nav,
        article {
            width: 100%;
            height: auto;
            margin-bottom: 50%;
        }
        article {
            margin-top: 50%;
        }
    }
    
    p.ex1 {
        max-width: 700px;
    }
    
    p.ex2 {
        max-width: 250px;
    }
    
    a {
        color: rgb(255, 255, 255);
    }